<h3 class="header">Slide #<%= slide.position %></h3>
<div class="slide-edit">
  <div class="slide-form">
    <h3>Slide Content</h3>
    <form action="#/preso/<%= preso.id() %>/edit/<%= params.slide_id %>" method="post">
      <p><textarea name="content"><%= slide.content %></textarea></p>
      <p><label>Theme:</label>
        <select name="theme" class="theme-select">
          <% $.each(themes, function(i, v) { %>
            <option value="<%= v %>"<% if (slide.theme == v) { %>selected="selected"<% } %>><%= v %></option>
          <% }); %>
        </select>
      <p>
        <% if ((slide.position - 1) > 0) { %>
        <button class="linked-button" name="prev" rel="#/preso/<%= preso.attributes._id %>/edit/<%= slide.position - 1 %>">Previous</button>
        <% } %>
        <button type="submit" class="submit default">Save &amp; Next</button>
      </p>
    </form>
    <h3>Upload an Image</h3>
    <% if (preso.attributes._attachments) { %>
      <ul class="slide-attachments">
        <% $.each(preso.attributes._attachments, function(k, v) { %>
          <li class="slide-attachment" rel="<%= join('/', preso.uri(), k) %>"><%= k %> (<%= v.content_type %>)</li>
        <% }); %>
      </ul>
    <% } %>
    <form action="#/preso/<%= preso.id() %>/upload" method="post">
      <input type="hidden" name="_rev" />
      <p><input type="file" name="_attachments" /><button type="submit" class="default">Upload</button></p>
    </form>
  </div>
  <div class="slide-preview">
    <div class="slide">
      <div class="content"></div>
    </div>
  </div>
  <div class="clear"></div>
</div>