<div class="slide-edit">
  <div class="slide-edit-view">
    <h3 class="header"><%= preso.attributes.name %>: Slide #<%= slide.position %></h3>
    <div class="slide-form">
      <h3>Slide Content</h3>
      <% formFor('slide', slide, function(f) { %>
        <%= f.open({action: '#/preso/' + preso.id() + '/edit/' + params.slide_id}) %>
        <p>
          <%= f.textarea('content') %>
        </p>
        <p>
          <%= f.label('theme', 'Theme') %>
          <%= f.select('theme', themes) %>
        </p>
        <p>
          <%= f.label('next_on_list', 'Incremental Lists') %>
          <%= f.checkbox('next_on_list', true) %>
        </p>
        <p>
          <label>Additional Styles:</label>
        </p>
        <p>
          <%= f.textarea('additional_css') %>
        </p>
        <p>
          <% if ((slide.position - 1) > 0) { %>
            <button class="linked-button" name="prev" rel="#/preso/<%= preso.attributes._id %>/edit/<%= slide.position - 1 %>">Previous</button>
            <% } %>
            <button type="submit" class="submit default" accesskey="s">Save &amp; Next</button>
            <button class="linked-button submit" name="display" rel="#/preso/<%= preso.attributes._id %>/display/<%= slide.position %>" accesskey="p">Preview</button>
          </p>
          <%= f.close() %>
        <% }); %>

        <div id="upload_form">
        </div>
      </div>
      <div class="slide-preview">
        <div class="slide active">
          <div class="content"></div>
        </div>
      </div>
      <div class="clear"></div>
    </div>
    <div class="slide-sort-view">
      <h4 class="header">Slides</h4>
      <div class="slide-sort">
        <div class="slides">
          <% $.each(preso.attributes.slides, function(i, sort_slide) { %>
            <% if (sort_slide) { %>
              <div class="slide <%= sort_slide.theme %> active" id="sort-slide-<%= sort_slide.position %>" style="<%= sort_slide.additional_css %>">
                <div class="content"><%= sort_slide.content_html %></div>
              </div>
            <% } %>
          <% }); %>
        </div>
      </div>
    </div>
  </div>
